openapi: 3.0.2
info:
  title: Portos API
  version: '1.0'
  description: |
    The Portos API is for turning on lights, playing music on your speaker, and managing your devices.
servers:
  - url: https://api.portpowered.com
  - url: http://localhost
security:
  - oauth2: []
  - bearerAuth: []
tags:
  - name: Auth
    description: |
      Port OS requires authorization to perform calls against port OS. 

      Port OS uses OAuth to get tokens that you can use to call into 
      Port OS APIs. 

      ### More resources

      1. [Authentication quickstart](portos.com/docs/auth-basics)
      2. [Authentication for Applications](portos.com/docs/auth-for-applications)
      2. [Authentication for Endpoints](portos.com/docs/auth-for-endpoints)
      3. [Authentication for Services](portos.com/docs/auth-for-services)
  - name: Endpoints
    description: |
      An endpoint is a resource that can be acted upon. An example is a phone, TV or web server.
  - name: Messages
    description: |
      Port OS allows you to send messages to things. 
      By sending messages to endpoints, customers can turn off lights, play music, etc. 
      A message is an object that is sent around in port OS between different endpoints. 
  - name: Flows
    description: |
      A flow is a way to do various things based on some set of inputs and outputs.

      Flows let customers set up routines that run on a schedule or when events happen. 
  - name: Plugins
    description: |
      A plugin is a receiver of messages. A plugin could be an HTTP connection, android device messenger, an MQTT connection, or anything else.
      Messages sent to endpoints are propagated through plugins.
  - name: Principals
    description: |
      Identities are people, endpoints, or organizations. They can perform actions on resources, and can be granted permissions to access to resources.
  - name: Secrets
    description: |
      A secret is a type of storage credential
  - name: Tokens
    description: |
      Tokens are JWTs vended by principals for token exchange. A principal may create tokens (e.g. for CLIs, device automations, or agents), list and delete tokens they own. The raw JWT is returned only once at creation; exchange it at the OAuth token endpoint for an access token.
  - name: Resource Groups
    description: |
      Resource groups allow organizing and managing collections of related resources.
  - name: Routes
    description: |
      A route is a part of an endpoint that denotes what types of interfaces the endpoint can support from a specific plugin. 
      Additionally, a route may describe the endpoint with metadata such as names, manufacturer name, model data, etc.
  - name: Endpoint Simulators
    description: |
      Endpoint Simulators lets customers simulate endpoints to test out their flows and integrations. 
  - name: Interfaces
    description: |
      An interface describes what an endpoint can do. 
      For example, endpoints can describe that they support media controls, lights, vacuum controls, etc. 
  - name: Subscriptions
    description: |
      When a message gets sent to port OS, you may want to listen to it. 

      Customers can enable a subscription for a customer's events, and have the subscription published to a flow, a plugin, or endpoint. 

      This makes it so that subscriptions can trigger events. 
  - name: Views
    description: |
      Views describe a way to present resources such as endpoints, files, flows, etc. Views are used via the port OS website to create dashboards and other visualizations. 
  - name: Media
    description: |
      Media in Port OS represents content that can be played on devices, like:
      - Music
      - Movies and TV shows  
      - Podcasts
      - Alarms
  - name: Auth Links
    description: |
      Auth Links are a way to link an endpoint to a plugin.
  - name: Clients
    description: |
      Clients are applications that can interact with Port OS.
  - name: Plugins
    description: |
      Plugins enable third-party services to integrate with Port OS by establishing communication plugins and declaring supported interfaces.

      Plugins can:
      - Register their capabilities and endpoints
      - Receive authorization grants for secure communication
      - Handle device discovery and report available control routes
      - Process commands and send responses
      - Report device states and attribute changes
      - Track command progress for long-running operations

      ### Plugin Integration Flow
      1. **Registration**: Plugin declares its configuration and supported interfaces
      2. **Authorization**: Plugin receives OAuth tokens for secure communication
      3. **Discovery**: Plugin reports available devices and their capabilities
      4. **Operation**: Plugin handles commands, reports states, and sends events
  - name: Endpoint Groups
    description: |
      An endpoint group is a way to group a set of endpoints.
  - name: Endpoint Group Routes
    description: |
      An endpoint group route is a way for a gropu of devices to be controlled at the same time.
  - name: Tuya
    description: |
      Tuya smart home integration endpoints for QR code-based device authentication. These endpoints interact with the Tuya IoT platform to generate QR codes and validate login tokens for linking Tuya accounts.
  - name: Infrastructure
    description: |
      Health checks, metrics, and well-known discovery endpoints. These are public endpoints that do not require authentication.
paths:
  /integration-requests:
    post:
      operationId: requestFutureIntegration
      tags:
        - Plugins
      summary: Join a future integration waitlist
      description: Records explicit consent to receive updates for the selected future device or AI integration. Adds the subscriber to the provider group without removing existing groups or reactivating unsubscribed contacts.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            example:
              email: person@example.test
              pluginId: port1/systems/zero/plugins/715b7b85-311f-4851-8430-88bbac6dd3e7
              consent: true
            schema:
              $ref: '#/components/schemas/IntegrationRequest'
      responses:
        '201':
          description: Request saved
          content:
            application/json:
              example:
                status: requested
              schema:
                type: object
                required:
                  - status
                properties:
                  status:
                    type: string
                    enum:
                      - requested
        '400':
          description: Invalid email, consent, or future plugin identifier
          content:
            application/json:
              example:
                message: Invalid email, consent, or future plugin identifier
                type: BAD_REQUEST
                family: BAD_REQUEST
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; retry after the Retry-After interval
          content:
            application/json:
              example:
                message: Too many requests; retry after the Retry-After interval
                type: TOO_MANY_REQUESTS
                family: TOO_MANY_REQUESTS
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Waitlist temporarily unavailable; the client may retry
          content:
            application/json:
              example:
                message: Waitlist temporarily unavailable; the client may retry
                type: INTERNAL_SERVER_ERROR
                family: INTERNAL_SERVER_ERROR
              schema:
                $ref: '#/components/schemas/Error'
      x-portos-delegated: false
      x-portos-resource-permission: false
  /ping:
    get:
      operationId: ping
      tags:
        - Infrastructure
      summary: Health check
      description: Returns a 200 OK response indicating the server is running. Used by load balancers and monitoring systems to verify service availability.
      security: []
      responses:
        '200':
          description: Server is healthy
      x-portos-delegated: false
      x-portos-resource-permission: false
  /metrics:
    get:
      operationId: getMetrics
      tags:
        - Infrastructure
      summary: Prometheus metrics
      description: Returns server metrics in Prometheus text exposition format. This endpoint is intentionally unauthenticated so that Prometheus can scrape it.
      security: []
      responses:
        '200':
          description: Prometheus metrics retrieved successfully
          content:
            text/plain:
              schema:
                type: string
                description: Prometheus text exposition format metrics
              example: pong
      x-portos-delegated: false
      x-portos-resource-permission: false
  /.well-known/openid-configuration:
    get:
      operationId: getOpenIDConfiguration
      tags:
        - Infrastructure
      summary: OpenID Connect discovery
      description: |
        Returns the OpenID Connect discovery document as defined by the OpenID Connect Discovery 1.0 specification. This endpoint is publicly accessible and does not require authentication.
      security: []
      responses:
        '200':
          description: OpenID Connect configuration retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  issuer:
                    type: string
                    description: The issuer identifier
                    example: https://portpowered.com
                  jwks_uri:
                    type: string
                    description: URL of the JSON Web Key Set document
                    example: https://portpowered.com/.well-known/jwks.json
                  token_endpoint:
                    type: string
                    description: URL of the token endpoint
                    example: https://portpowered.com/auth/token
                  response_types_supported:
                    type: array
                    items:
                      type: string
                    example:
                      - code
                  subject_types_supported:
                    type: array
                    items:
                      type: string
                    example:
                      - public
                  id_token_signing_alg_values_supported:
                    type: array
                    items:
                      type: string
                    example:
                      - RS256
                  grant_types_supported:
                    type: array
                    items:
                      type: string
                    example:
                      - authorization_code
                      - client_credentials
                      - refresh_token
                      - urn:ietf:params:oauth:grant-type:token-exchange
                      - urn:ietf:params:oauth:grant-type:device_code
              example:
                key: value
      x-portos-delegated: false
      x-portos-resource-permission: false
  /.well-known/oauth-authorization-server:
    get:
      operationId: getOAuthAuthorizationServerMetadata
      tags:
        - Infrastructure
      summary: Discover OAuth and DCR endpoints
      security: []
      x-portos-delegated: false
      x-portos-resource-permission: false
      description: Discover the canonical issuer and endpoints for the deployed environment. Public REST grants use issuer as resource; MCP grants use issuer/mcp. Only allowlisted CIMD identifiers are accepted. Registration is anonymous; device access requires user consent.
      responses:
        '200':
          description: Authorization server metadata.
          content:
            application/json:
              schema:
                type: object
                required:
                  - issuer
                  - authorization_endpoint
                  - token_endpoint
                  - registration_endpoint
                  - revocation_endpoint
                  - scopes_supported
                properties:
                  issuer:
                    type: string
                    format: uri
                  authorization_endpoint:
                    type: string
                    format: uri
                  token_endpoint:
                    type: string
                    format: uri
                  registration_endpoint:
                    type: string
                    format: uri
                  revocation_endpoint:
                    type: string
                    format: uri
                  jwks_uri:
                    type: string
                    format: uri
                  scopes_supported:
                    type: array
                    items:
                      type: string
                  code_challenge_methods_supported:
                    type: array
                    items:
                      type: string
                      enum:
                        - S256
                  token_endpoint_auth_methods_supported:
                    type: array
                    items:
                      type: string
                  client_id_metadata_document_supported:
                    type: boolean
                  authorization_response_iss_parameter_supported:
                    type: boolean
  /.well-known/jwks.json:
    get:
      operationId: getJWKS
      tags:
        - Infrastructure
      summary: JSON Web Key Set
      description: |
        Returns the JSON Web Key Set (JWKS) containing the public keys used to verify JWT signatures. This endpoint is publicly accessible and does not require authentication. Responses are cached for one hour.
      security: []
      responses:
        '200':
          description: JWKS retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      type: object
                      properties:
                        kty:
                          type: string
                          description: Key type
                          example: RSA
                        alg:
                          type: string
                          description: Algorithm
                          example: RS256
                        kid:
                          type: string
                          description: Key ID
                        use:
                          type: string
                          description: Public key use
                          example: sig
                        'n':
                          type: string
                          description: RSA modulus (Base64url encoded)
                        e:
                          type: string
                          description: RSA exponent (Base64url encoded)
              example:
                key: value
      x-portos-delegated: false
      x-portos-resource-permission: false
  /.well-known/oauth-protected-resource:
    get:
      operationId: getOAuthProtectedResourceMetadata
      tags:
        - Infrastructure
      summary: OAuth protected resource metadata
      description: |
        Returns OAuth 2.0 Protected Resource Metadata as defined by RFC 9728. This endpoint is publicly accessible and does not require authentication. Responses are cached for one hour.
      security: []
      responses:
        '200':
          description: Protected resource metadata retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource:
                    type: string
                    description: The protected resource identifier
                    example: https://portpowered.com/mcp
                  authorization_servers:
                    type: array
                    items:
                      type: string
                    description: Authorization servers that can issue tokens for this resource
                    example:
                      - https://portpowered.com
                  scopes_supported:
                    type: array
                    items:
                      type: string
                    description: Scopes supported by this resource
                    example:
                      - mcp:read
                      - mcp:write
                      - mcp:admin
                  bearer_methods_supported:
                    type: array
                    items:
                      type: string
                    description: Methods supported for presenting bearer tokens
                    example:
                      - header
              example:
                key: value
      x-portos-delegated: false
      x-portos-resource-permission: false
  /.well-known/oauth-protected-resource/mcp:
    get:
      operationId: getMCPOAuthProtectedResourceMetadata
      tags:
        - Infrastructure
      summary: MCP OAuth protected resource metadata
      description: |
        Returns OAuth 2.0 Protected Resource Metadata for the MCP endpoint as defined by RFC 9728. This endpoint is publicly accessible and does not require authentication. Responses are cached for one hour.
      security: []
      responses:
        '200':
          description: MCP protected resource metadata retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource:
                    type: string
                    description: The protected resource identifier
                    example: https://portpowered.com/mcp
                  authorization_servers:
                    type: array
                    items:
                      type: string
                    description: Authorization servers that can issue tokens for this resource
                    example:
                      - https://portpowered.com
                  scopes_supported:
                    type: array
                    items:
                      type: string
                    description: Scopes supported by this resource
                    example:
                      - mcp:read
                      - mcp:write
                      - mcp:admin
                  bearer_methods_supported:
                    type: array
                    items:
                      type: string
                    description: Methods supported for presenting bearer tokens
                    example:
                      - header
              example:
                key: value
      x-portos-delegated: false
      x-portos-resource-permission: false
  /endpoints:
    get:
      operationId: enumerateEndpoints
      tags:
        - Endpoints
      description: Lists endpoints for the authenticated user and supports query-API endpoint-state retrieval. To retrieve deep endpoint state for a specific endpoint, send `id=<endpoint-id>` together with `expand=interfaces.attributes`. That expansion populates each returned endpoint's `attributes` array with deep interface attribute state. Add `forceDeviceAttributeQuery=true` to force a live device-backed attribute refresh before the response is returned.
      parameters:
        - name: enablement
          in: query
          description: Collection visibility. Defaults to ENABLED. Use '*' to include all authorized endpoints, or DISABLED to list hidden endpoints. Exact id metadata reads ignore this filter; live messaging remains blocked for disabled endpoints.
          schema:
            type: string
            enum:
              - ENABLED
              - DISABLED
              - '*'
        - name: owner
          in: query
          description: The owner of the endpoints to get. Use '~caller' to get endpoints for the authenticated user
          required: false
          schema:
            type: string
          examples:
            check-token:
              value: ~caller
            check-id:
              value: port1/user/alice/user/alice
        - name: id
          in: query
          description: The unique identifier of a specific endpoint to retrieve
          required: false
          schema:
            type: string
          examples:
            endpoint-id:
              value: port1/user/alice/endpoints/abc-123
        - name: type
          in: query
          description: Filter endpoints by their primary type
          required: false
          schema:
            type: string
          examples:
            type-filter:
              value: light
        - name: serialNumber
          in: query
          description: Filter endpoints by their serial number
          required: false
          schema:
            type: string
          examples:
            serial-number-filter:
              value: SN-12345
        - name: nextToken
          in: query
          description: The next token to get the next page of results
          required: false
          schema:
            type: string
          examples:
            next-token:
              value: '123'
        - name: maxResults
          in: query
          description: The maximum number of results to return
          required: false
          schema:
            type: integer
          examples:
            max-results:
              value: 10
        - name: expand
          in: query
          description: Comma-separated expansion tokens. Use `interfaces.attributes` to populate each endpoint's `attributes` array with deep interface attribute state. When omitted, the response keeps the default shallow endpoint shape and does not populate deep attribute payloads.
          required: false
          schema:
            type: array
            items:
              type: string
          examples:
            deep-interface-attributes:
              value: interfaces.attributes
          style: form
          explode: false
        - name: forceDeviceAttributeQuery
          in: query
          description: Forces a live device-backed attribute refresh for endpoint-state queries. This flag is only applied when `expand` includes `interfaces.attributes`. Send `true` to force the refresh; absent, invalid, or `false` values fall back to the non-forced query behavior.
          required: false
          schema:
            type: boolean
          examples:
            forced-deep-query:
              value: true
      responses:
        '200':
          description: Endpoints retrieved successfully. Responses without `expand=interfaces.attributes` return the default shallow endpoint shape. Responses with that expansion populate deep attribute state in each endpoint's `attributes` array. If endpoint enumeration succeeds but one or more forced deep-query items fail, the response can include an `errors` array describing those partial state-refresh failures; request-level failures still use HTTP error responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointQueryResponse'
              examples: {}
        '400':
          description: Bad request - missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Bad request - missing required parameters
                type: BAD_REQUEST
                family: BAD_REQUEST
                code: bad-request
        '401':
          description: Unauthorized - invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Unauthorized - invalid or missing authentication token
                type: UNAUTHORIZED
                family: AUTHENTICATION
                code: unauthorized
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal server error
                type: INTERNAL_SERVER_ERROR
                family: INTERNAL_SERVER_ERROR
                code: internal-server-error
      x-portos-delegated: true
      x-portos-resource-permission: true
      security:
        - oauth2:
            - endpoint:read
        - bearerAuth: []
    post:
      operationId: upsertEndpoint
      tags:
        - Endpoints
      description: Creates or updates an endpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertEndpointRequest'
      responses:
        '200':
          description: Endpoint upserted successfully
        '400':
          description: Invalid request payload
        '500':
          description: Internal server error
      x-portos-delegated: true
      x-portos-resource-permission: true
      security:
        - oauth2:
            - endpoint:write
        - bearerAuth: []
    patch:
      operationId: modifyEndpoint
      tags:
        - Endpoints
      description: Apply endpoint partial metadata, enablement or merge changes in one SQLite transaction. At least one field besides id is required. An empty 202 is returned only after commit; clients may requery metadata. Endpoint updated notifications are best effort. A merge cannot cross owners or silently rewrite unsupported dependencies; conflicts roll back all changes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyEndpointRequest'
            example:
              id: port1/principals/user123/endpoints/abc-123
              name: Lounge lamp
              type: LIGHT
              enablement: ENABLED
      responses:
        '202':
          description: Endpoint modification committed; empty response.
        '400':
          description: Invalid partial update or incompatible merge.
        '401':
          description: Authentication required.
        '403':
          description: Endpoint management or dependency permission denied.
        '404':
          description: Endpoint not found.
        '409':
          description: Dependent state prevents merge; nothing changed.
        '500':
          description: Modification failed before commit.
        '503':
          description: ENDPOINT_COMMITTED_CLEANUP_PENDING. The modification committed, but required active-work cleanup is pending. Re-read source and target before retrying.
      x-portos-delegated: true
      x-portos-resource-permission: true
      security:
        - oauth2:
            - endpoint:write
        - bearerAuth: []
    delete:
      operationId: deleteEndpoint
      tags:
        - Endpoints
      description: Deletes an endpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteEndpointRequest'
            example:
              id: port1/principals/user123/resources/abc-123
      responses:
        '200':
          description: Endpoint deleted successfully
        '400':
          description: Invalid request payload
        '500':
          description: Internal server error
      x-portos-delegated: true
      x-portos-resource-permission: true
      security:
        - oauth2:
            - endpoint:write
        - bearerAuth: []
  /endpoint-query:
    post:
      operationId: endpointQuery
      tags:
        - Endpoints
      description: Query for endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointQueryRequest'
            example:
              query:
                match:
                  key: name
                  value: test
      responses:
        '200':
          description: Endpoints retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointQueryResponse'
              example:
                results: []
                paginationContext:
                  nextToken: abc123
        '400':
          description: Bad request - missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Bad request - missing required parameters
                type: BAD_REQUEST
                family: BAD_REQUEST
                code: bad-request
        '401':
          description: Unauthorized - invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Unauthorized - invalid or missing authentication token
                type: UNAUTHORIZED
                family: AUTHENTICATION
                code: unauthorized
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal server error
                type: INTERNAL_SERVER_ERROR
                family: INTERNAL_SERVER_ERROR
                code: internal-server-error
      x-portos-delegated: true
      x-portos-resource-permission: true
      security:
        - oauth2:
            - endpoint:read
        - bearerAuth: []
  /events:
    post:
      operationId: createSyntheticEvent
      tags:
        - Events
      summary: Admit an authenticated synthetic simulator event
      security:
        - bearerAuth: []
      description: |-
        Requires enabled demonstration environment, endpoint access and simulator write authorization. Rejects production endpoints and caller-supplied source/tenant/credential/occurrence identity. Durable 202 admission is idempotent by requestId and semantic input; immediate processing may attempt delivery during the request.

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyntheticEventRequest'
            example:
              requestId: camera-motion-demo-1
              endpoint:
                id: port1.endpoint.camera-demo
              header:
                namespace: port1/systems/zero/capability-interfaces/motion-sensor
                name: motion-detected
                version: '1.0'
              body:
                value: DETECTED
      responses:
        '202':
          description: Admit an authenticated synthetic simulator event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyntheticEventAccepted'
              example:
                receiptId: receipt-demo-1
                eventId: event-demo-1
                endpointId: port1.endpoint.camera-demo
                status: accepted
        '400':
          description: Invalid request; stable code identifies the validation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Invalid request; stable code identifies the validation failure.
                type: BAD_REQUEST
                family: BAD_REQUEST
                code: event_request_failed
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Authentication required.
                type: UNAUTHORIZED
                family: UNAUTHORIZED
                code: event_request_failed
        '403':
          description: Resource authorization denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Resource authorization denied.
                type: FORBIDDEN
                family: FORBIDDEN
                code: event_request_failed
        '404':
          description: Resource inaccessible, missing or past retention.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Resource inaccessible, missing or past retention.
                type: NOT_FOUND
                family: NOT_FOUND
                code: event_request_failed
        '409':
          description: Idempotency conflict or lifecycle/generation conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Idempotency conflict or lifecycle/generation conflict.
                type: CONCURRENT_MODIFICATION
                family: CONFLICT
                code: event_request_failed
        '413':
          description: Encoded admission exceeds the 64 KiB limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Encoded admission exceeds the 64 KiB limit.
                type: FILE_TOO_LARGE
                family: PAYLOAD_TOO_LARGE
                code: event_request_failed
        '415':
          description: Unsupported request media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Unsupported request media type.
                type: BAD_REQUEST
                family: BAD_REQUEST
                code: event_request_failed
        '429':
          description: Source or tenant rate/quota exceeded; no unpersisted input is acknowledged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Source or tenant rate/quota exceeded; no unpersisted input is acknowledged.
                type: RATE_LIMIT_EXCEEDED
                family: TOO_MANY_REQUESTS
                code: event_request_failed
        '500':
          description: Internal failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal failure.
                type: INTERNAL
                family: INTERNAL_SERVER_ERROR
                code: event_request_failed
        '503':
          description: Retryable storage/admission failure; input not durably accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Retryable storage/admission failure; input not durably accepted.
                type: STORAGE_UNAVAILABLE
                family: SERVICE_UNAVAILABLE
                code: event_request_failed
      x-portos-delegated: false
      x-portos-resource-permission: true
  /events/receipts/{receiptId}:
    get:
      operationId: getEventReceipt
      tags:
        - Events
      summary: Read an authorized retained event receipt
      security:
        - bearerAuth: []
      description: |-
        Requires source endpoint read permission for processing metadata and event/subscription read permission for delivery details. Includes only inspectable subscriptions. Returns 410 for an authorized expired receipt and 404 for inaccessible or physically removed records; detail TTL is enforced on access.

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      parameters:
        - name: receiptId
          in: path
          required: true
          schema:
            type: string
        - name: expand
          in: query
          required: false
          description: Expansion tokens. This projection has no expandable relationships; omit or supply an empty array. Non-empty tokens are rejected.
          schema:
            type: array
            maxItems: 0
            items:
              type: string
          style: form
          explode: false
          example: []
      responses:
        '200':
          description: Read an authorized retained event receipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventReceipt'
              example:
                id: receipt-demo-1
                receiptId: receipt-demo-1
                eventId: event-demo-1
                endpointId: port1.endpoint.camera-demo
                status: completed
                acceptedAt: '2026-10-05T12:00:00Z'
                observedAt: '2026-10-05T12:00:00Z'
                eventIds:
                  - event-demo-1
                deliveryDetail: available
                deliveries: []
        '400':
          description: Invalid request; stable code identifies the validation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Invalid request; stable code identifies the validation failure.
                type: BAD_REQUEST
                family: BAD_REQUEST
                code: event_request_failed
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Authentication required.
                type: UNAUTHORIZED
                family: UNAUTHORIZED
                code: event_request_failed
        '403':
          description: Resource authorization denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Resource authorization denied.
                type: FORBIDDEN
                family: FORBIDDEN
                code: event_request_failed
        '404':
          description: Resource inaccessible, missing or past retention.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Resource inaccessible, missing or past retention.
                type: NOT_FOUND
                family: NOT_FOUND
                code: event_request_failed
        '410':
          description: Authorized receipt context has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Authorized receipt context has expired.
                type: NOT_FOUND
                family: NOT_FOUND
                code: event_request_failed
        '500':
          description: Internal failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal failure.
                type: INTERNAL
                family: INTERNAL_SERVER_ERROR
                code: event_request_failed
        '503':
          description: Retryable receipt storage failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Retryable receipt storage failure.
                type: STORAGE_UNAVAILABLE
                family: SERVICE_UNAVAILABLE
                code: event_request_failed
      x-portos-delegated: false
      x-portos-resource-permission: true
  /event-dead-letters:
    get:
      operationId: enumerateEventDeadLetters
      tags:
        - Events
      summary: List authorized redacted event dead letters
      security:
        - bearerAuth: []
      description: |-
        Tenant/operator scope; unresolved provider diagnostics require provider operator authorization. Uses opaque cursors.

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      parameters:
        - name: nextToken
          in: query
          required: false
          schema:
            type: string
        - name: maxResults
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: query
          in: query
          required: false
          description: Shared Port OS Query encoded as JSON. Evaluated only over authorized redacted diagnostic fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Query'
        - name: expand
          in: query
          required: false
          description: Expansion tokens. This projection has no expandable relationships; omit or supply an empty array. Non-empty tokens are rejected.
          schema:
            type: array
            maxItems: 0
            items:
              type: string
          style: form
          explode: false
          example: []
      responses:
        '200':
          description: List authorized redacted event dead letters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDeadLetterQueryResponse'
              example:
                results: []
                errors: []
        '400':
          description: Invalid request; stable code identifies the validation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Invalid request; stable code identifies the validation failure.
                type: BAD_REQUEST
                family: BAD_REQUEST
                code: event_request_failed
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Authentication required.
                type: UNAUTHORIZED
                family: UNAUTHORIZED
                code: event_request_failed
        '403':
          description: Resource authorization denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Resource authorization denied.
                type: FORBIDDEN
                family: FORBIDDEN
                code: event_request_failed
        '404':
          description: Resource inaccessible, missing or past retention.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Resource inaccessible, missing or past retention.
                type: NOT_FOUND
                family: NOT_FOUND
                code: event_request_failed
        '500':
          description: Internal failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal failure.
                type: INTERNAL
                family: INTERNAL_SERVER_ERROR
                code: event_request_failed
      x-portos-delegated: false
      x-portos-resource-permission: true
  /event-dead-letters/{id}:
    get:
      operationId: getEventDeadLetter
      tags:
        - Events
      summary: Inspect an authorized redacted dead letter
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: expand
          in: query
          required: false
          description: Expansion tokens. This projection has no expandable relationships; omit or supply an empty array. Non-empty tokens are rejected.
          schema:
            type: array
            maxItems: 0
            items:
              type: string
          style: form
          explode: false
          example: []
      responses:
        '200':
          description: Inspect an authorized redacted dead letter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDeadLetter'
              example:
                id: dead-letter-demo-1
                stage: delivery
                reasonCode: callback_unavailable
                createdAt: '2026-10-05T12:00:00Z'
                expiresAt: '2026-10-06T12:00:00Z'
                redriveCount: 0
                redriveEligible: true
                observedAt: '2026-10-05T12:00:00Z'
        '400':
          description: Invalid request; stable code identifies the validation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Invalid request; stable code identifies the validation failure.
                type: BAD_REQUEST
                family: BAD_REQUEST
                code: event_request_failed
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Authentication required.
                type: UNAUTHORIZED
                family: UNAUTHORIZED
                code: event_request_failed
        '403':
          description: Resource authorization denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Resource authorization denied.
                type: FORBIDDEN
                family: FORBIDDEN
                code: event_request_failed
        '404':
          description: Resource inaccessible, missing or past retention.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Resource inaccessible, missing or past retention.
                type: NOT_FOUND
                family: NOT_FOUND
                code: event_request_failed
        '500':
          description: Internal failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal failure.
                type: INTERNAL
                family: INTERNAL_SERVER_ERROR
                code: event_request_failed
      description: |-
        Returns an authorized retained diagnostic with redacted metadata only. Raw event payloads, callback addresses and credentials are never returned.

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      x-portos-delegated: false
      x-portos-resource-permission: true
    delete:
      operationId: deleteEventDeadLetter
      tags:
        - Events
      summary: Delete an authorized dead letter
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      description: |-
        Idempotent diagnostic deletion. Does not alter subscription identity or emit an event.

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      responses:
        '204':
          description: Delete an authorized dead letter
        '400':
          description: Invalid request; stable code identifies the validation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Invalid request; stable code identifies the validation failure.
                type: BAD_REQUEST
                family: BAD_REQUEST
                code: event_request_failed
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Authentication required.
                type: UNAUTHORIZED
                family: UNAUTHORIZED
                code: event_request_failed
        '403':
          description: Resource authorization denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Resource authorization denied.
                type: FORBIDDEN
                family: FORBIDDEN
                code: event_request_failed
        '404':
          description: Resource inaccessible, missing or past retention.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Resource inaccessible, missing or past retention.
                type: NOT_FOUND
                family: NOT_FOUND
                code: event_request_failed
        '500':
          description: Internal failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal failure.
                type: INTERNAL
                family: INTERNAL_SERVER_ERROR
                code: event_request_failed
      x-portos-delegated: false
      x-portos-resource-permission: true
  /event-dead-letters/{id}/redrives:
    post:
      operationId: redriveEventDeadLetter
      tags:
        - Events
      summary: Create an audited redrive of the original event
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      description: |-
        At most three redrives. Revalidates current source mapping, schema, query, destination, subscription generation and permissions. Retains occurrence identity, immutable delivery bytes, original acceptedAt/cutoff and deadline. Stale, revoked, deleted or expired records cannot be reopened; missing retained original context yields 410 receipt_context_expired.

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      responses:
        '202':
          description: Create an audited redrive of the original event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRedriveResult'
              example:
                deadLetterId: dead-letter-demo-1
                receiptId: receipt-demo-1
                status: accepted
                redriveCount: 1
        '400':
          description: Invalid request; stable code identifies the validation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Invalid request; stable code identifies the validation failure.
                type: BAD_REQUEST
                family: BAD_REQUEST
                code: event_request_failed
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Authentication required.
                type: UNAUTHORIZED
                family: UNAUTHORIZED
                code: event_request_failed
        '403':
          description: Resource authorization denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Resource authorization denied.
                type: FORBIDDEN
                family: FORBIDDEN
                code: event_request_failed
        '404':
          description: Resource inaccessible, missing or past retention.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Resource inaccessible, missing or past retention.
                type: NOT_FOUND
                family: NOT_FOUND
                code: event_request_failed
        '409':
          description: Idempotency conflict or lifecycle/generation conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Idempotency conflict or lifecycle/generation conflict.
                type: CONCURRENT_MODIFICATION
                family: CONFLICT
                code: event_request_failed
        '410':
          description: Payload or original receipt context expired; receipt_context_expired prevents reconstruction with a new cutoff.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Payload or original receipt context expired; receipt_context_expired prevents reconstruction with a new cutoff.
                type: NOT_FOUND
                family: NOT_FOUND
                code: event_request_failed
        '429':
          description: Source or tenant rate/quota exceeded; no unpersisted input is acknowledged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Source or tenant rate/quota exceeded; no unpersisted input is acknowledged.
                type: RATE_LIMIT_EXCEEDED
                family: TOO_MANY_REQUESTS
                code: event_request_failed
        '500':
          description: Internal failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal failure.
                type: INTERNAL
                family: INTERNAL_SERVER_ERROR
                code: event_request_failed
      x-portos-delegated: false
      x-portos-resource-permission: true
  /endpoint-simulators:
    post:
      operationId: upsertSimulator
      tags:
        - Endpoint Simulators
      summary: Create or update a simulator
      description: |-
        Creates a new endpoint simulator or updates an existing one. When an `id` is provided in the request body, the simulator with that ID is updated. When no `id` is provided, a new simulator is created along with its associated endpoint, auth link, and route.
         Missing or ordinary JSON Accept selects the existing string-name projection. Explicit application/vnd.portos.simulator.v2+json selects name-value output; unsupported explicit representations fail 406. Content-Type selects request projection, independent of Accept. Legacy object names fail 400. No legacy default flip or removal is authorized.

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertSimulatorRequest'
            example:
              name: Demo front door
              device_type: camera
              configuration:
                eventProfile: doorbell
          application/vnd.portos.simulator.v2+json:
            schema:
              $ref: '#/components/schemas/UpsertSimulatorRequestV2'
            example:
              name:
                type: PLAIN
                value: Demo front door
              device_type: camera
              configuration:
                eventProfile: doorbell
      responses:
        '200':
          description: Simulator upserted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Simulator'
            application/vnd.portos.simulator.v2+json:
              schema:
                $ref: '#/components/schemas/SimulatorV2'
              example:
                id: port1.simulator.camera-demo
                name:
                  type: PLAIN
                  value: Front door camera
                device_type: camera
                configuration:
                  eventProfile: doorbell
          headers:
            Vary:
              description: Response representation is selected by Accept.
              schema:
                type: string
                example: Accept
        '400':
          description: Invalid request payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Invalid request payload
                type: BAD_REQUEST
        '401':
          description: Unauthorized - invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Authentication required
                type: UNAUTHORIZED
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Insufficient permissions
                type: FORBIDDEN
        '406':
          description: Unsupported explicitly requested representation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Unsupported explicitly requested representation.
                type: BAD_REQUEST
                family: BAD_REQUEST
                code: event_request_failed
        '415':
          description: Unsupported request media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Unsupported request media type.
                type: BAD_REQUEST
                family: BAD_REQUEST
                code: event_request_failed
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal server error
                type: INTERNAL
      x-portos-delegated: false
      x-portos-resource-permission: true
    delete:
      operationId: deleteSimulator
      tags:
        - Endpoint Simulators
      summary: Delete a simulator
      description: |-
        Deletes an endpoint simulator and its associated endpoint, auth link, and route.


        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSimulatorRequest'
            example:
              id: port1/principals/user123/endpoint-simulators/abc-123
      responses:
        '200':
          description: Simulator deleted successfully
        '400':
          description: Invalid request payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Invalid request payload
                type: BAD_REQUEST
        '401':
          description: Unauthorized - invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Authentication required
                type: UNAUTHORIZED
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Insufficient permissions
                type: FORBIDDEN
        '404':
          description: Simulator not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Resource not found
                type: NOT_FOUND
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal server error
                type: INTERNAL
      x-portos-delegated: false
      x-portos-resource-permission: true
    get:
      operationId: enumerateSimulators
      tags:
        - Endpoint Simulators
      summary: List all simulators
      description: |-
        Lists endpoint simulators for the authenticated user. Supports pagination via `maxResults` and `nextToken` query parameters. When `owner` is not specified, defaults to the authenticated caller.
         Missing or ordinary JSON Accept selects the existing string-name projection. Explicit application/vnd.portos.simulator.v2+json selects name-value output; unsupported explicit representations fail 406. Content-Type selects request projection, independent of Accept. Legacy object names fail 400. No legacy default flip or removal is authorized.

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      security:
        - bearerAuth: []
      parameters:
        - name: owner
          in: query
          description: The owner of the simulators to retrieve. Defaults to the authenticated caller when not specified.
          required: false
          schema:
            type: string
          examples:
            caller:
              value: ~caller
        - name: maxResults
          in: query
          description: The maximum number of results to return
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          examples:
            max-results:
              value: 10
        - name: nextToken
          in: query
          description: An opaque token to retrieve the next page of results. Returned in the paginationContext of a previous response.
          required: false
          schema:
            type: string
        - name: expand
          in: query
          description: Expansion tokens that request related or computed fields for each result.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          examples:
            include-related:
              value:
                - metadata
      responses:
        '200':
          description: Simulators retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulatorQueryResponse'
              example:
                results: []
                paginationContext:
                  nextToken: abc123
            application/vnd.portos.simulator.v2+json:
              schema:
                $ref: '#/components/schemas/SimulatorQueryResponseV2'
              example:
                results:
                  - id: port1.simulator.camera-demo
                    name:
                      type: PLAIN
                      value: Front door camera
                    device_type: camera
                    configuration:
                      eventProfile: doorbell
                errors: []
          headers:
            Vary:
              description: Response representation is selected by Accept.
              schema:
                type: string
                example: Accept
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Invalid request payload
                type: BAD_REQUEST
        '401':
          description: Unauthorized - invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Authentication required
                type: UNAUTHORIZED
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Insufficient permissions
                type: FORBIDDEN
        '406':
          description: Unsupported explicitly requested representation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Unsupported explicitly requested representation.
                type: BAD_REQUEST
                family: BAD_REQUEST
                code: event_request_failed
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal server error
                type: INTERNAL
      x-portos-delegated: false
      x-portos-resource-permission: true
  /routes:
    get:
      tags:
        - Routes
      operationId: getRoutes
      summary: Get Routes
      description: |
        API to enumerate the routes that a principal has permissions to. The returned route `id` is the persisted Port OS route identifier. For routes created through synchronization, use `associatedPluginRouteId` to match the stable plugin-owned or fixture route identity from the discovery payload.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnumerateRoutesResponse'
              example:
                results: []
                paginationContext:
                  nextToken: abc123
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal server error
                type: INTERNAL_SERVER_ERROR
                family: INTERNAL_SERVER_ERROR
                code: internal-server-error
      parameters:
        - name: expand
          in: query
          description: Expansion tokens that request related or computed fields for each result.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          examples:
            include-related:
              value:
                - metadata
        - name: nextToken
          in: query
          description: Opaque cursor token returned by a previous query response.
          required: false
          schema:
            type: string
          examples:
            next-page:
              value: abc123
        - name: maxResults
          in: query
          description: Maximum number of results to return.
          required: false
          schema:
            type: integer
          examples:
            page-size:
              value: 50
      x-portos-delegated: true
      x-portos-resource-permission: true
      security:
        - oauth2:
            - endpoint:read
        - bearerAuth: []
    delete:
      operationId: deleteRoute
      tags:
        - Routes
      description: Deletes a route
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRouteRequest'
            example:
              id: port1/principals/user123/resources/abc-123
      responses:
        '200':
          description: Route deleted successfully
        '400':
          description: Invalid request payload
        '500':
          description: Internal server error
      x-portos-delegated: true
      x-portos-resource-permission: true
      security:
        - oauth2:
            - endpoint:write
        - bearerAuth: []
    post:
      operationId: upsertRoute
      tags:
        - Routes
      description: Creates or updates a route
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertRouteRequest'
      responses:
        '200':
          description: Route upserted successfully
        '400':
          description: Invalid request payload
        '500':
          description: Internal server error
      x-portos-delegated: true
      x-portos-resource-permission: true
      security:
        - oauth2:
            - endpoint:write
        - bearerAuth: []
  /discovery:
    post:
      tags:
        - Routes
      summary: Synchronize Plugin Routes via Discovery
      operationId: synchronizeRoutes
      description: |-
        Triggers route synchronization for a plugin. When a plugin connected to Port OS wants to report the routes available on it, it dispatches a discovery payload. The server reconciles the reported routes with its internal state. For newly persisted synchronized routes, the server can assign a backend-generated, owner-scoped Port OS route `id`; a client-supplied route `id` in the discovery payload is advisory and is not the stable lookup surface for plugin capability parity. Consumers that need to match synchronized plugin or fixture routes after enumeration should use `associatedPluginRouteId`, which preserves the plugin-owned route identity.

        Every route and group-route interface must name a capability interface and exact version from the capability-interface library, its `configuration` must conform to that interface's configuration schema (an omitted configuration is validated as an empty object), and any declared attribute must exist on the interface with a value that conforms to its attribute schema. Any nonconforming item rejects the whole request with 400; `errors` lists every rejected item keyed by `pluginRouteId`. Nothing is persisted.

        Group routes and relationships are keyed by plugin-owned identity within the plugin and auth link and are created or updated, never removed because they are omitted. A `pluginRouteId` must be unique across routes and group routes (`PLUGIN_ROUTE_ID_CONFLICT`). Group-route members and relationship vertices must resolve to routes or group routes of the same plugin and auth link, committed or in the same request (`UNRESOLVED_REFERENCE`). `IS_PART_OF` joins two group routes and is acyclic (`RELATIONSHIP_CYCLE`) with at most one parent per group route (`MULTIPLE_PARENTS`); `CAN_CONTROL` and `LOCATED_IN` join a route to a group route; self-edges and other shapes are `INVALID_RELATIONSHIP`. Only `CAN_CONTROL` carries `interfaces`, which must name interfaces and inbound messages the source route declares (`MESSAGE_UNSUPPORTED`). Relationship items are keyed by `relationshipExternalId`. A newly reported group route creates its own endpoint group named after it; rediscovery keeps group IDs, merges and user renames.


        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SynchronizationRequest'
      responses:
        '200':
          description: Routes synchronized successfully
        '400':
          description: Bad request — invalid payload, or one or more routes or group routes do not conform to the capability-interface library
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: 'discovery rejected: 1 route does not conform to the capability-interface library; nothing was synchronized'
                type: BAD_REQUEST
                family: BAD_REQUEST
                errors:
                  - pluginRouteId: robot-1
                    interface: port1/systems/zero/capability-interfaces/robotic-vacuum-cleaner
                    version: '1.0'
                    code: INVALID_CONFIGURATION
                    family: BAD_REQUEST
                    status: 400
                    message: 'configuration for port1/systems/zero/capability-interfaces/robotic-vacuum-cleaner/1.0 does not conform to its schema: field ''supportsRoomCleaning'': Invalid type. Expected: boolean, given: string. The plugin must send configuration conforming to port1/systems/zero/capability-interfaces/robotic-vacuum-cleaner/1.0.'
        '401':
          description: Unauthorized — missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Authentication required
                type: UNAUTHORIZED
        '403':
          description: Forbidden — insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Insufficient permissions
                type: FORBIDDEN
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal server error
                type: INTERNAL
      x-portos-delegated: false
      x-portos-resource-permission: true
  /plugins:
    get:
      operationId: enumeratePlugins
      tags:
        - Plugins
      description: |-
        Lists all available plugins

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      parameters:
        - name: expand
          in: query
          description: Space-delimited list of fields to expand (metadata)
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
        - name: id
          in: query
          description: Full path ID of a specific plugin to retrieve (e.g. port1/systems/zero/plugins/{uuid})
          required: false
          schema:
            type: string
        - name: nextToken
          in: query
          description: Opaque cursor token returned by a previous query response.
          required: false
          schema:
            type: string
          examples:
            next-page:
              value: abc123
        - name: maxResults
          in: query
          description: Maximum number of results to return.
          required: false
          schema:
            type: integer
          examples:
            page-size:
              value: 50
      responses:
        '200':
          description: Plugins retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnumeratePluginsResponse'
              example:
                results: []
                paginationContext:
                  nextToken: abc123
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal server error
                type: INTERNAL_SERVER_ERROR
                family: INTERNAL_SERVER_ERROR
                code: internal-server-error
      x-portos-delegated: false
      x-portos-resource-permission: true
      security:
        - oauth2: []
        - bearerAuth: []
    post:
      operationId: upsertPluginRequest
      tags:
        - Plugins
      description: |-
        Creates a new plugin

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertPluginRequest'
            example:
              name:
                type: PLAIN
                value: My Resource
      responses:
        '200':
          description: Plugin created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertPluginResponse'
        '400':
          description: Invalid request payload
        '500':
          description: Internal server error
      x-portos-delegated: false
      x-portos-resource-permission: true
      security:
        - oauth2: []
        - bearerAuth: []
    delete:
      operationId: deletePlugin
      tags:
        - Plugins
      description: |-
        Deletes a plugin

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePluginRequest'
            example:
              id: port1/principals/user123/resources/abc-123
      responses:
        '200':
          description: Plugin deleted successfully
        '400':
          description: Invalid request payload
        '500':
          description: Internal server error
      x-portos-delegated: false
      x-portos-resource-permission: true
      security:
        - oauth2: []
        - bearerAuth: []
  /plugins/establish:
    post:
      operationId: establishPlugin
      tags:
        - Plugins
      summary: Establish or update a plugin registration
      description: |-
        Registers a new plugin or updates an existing one. Supports three plugin types: local (running on the server instance), webservice (HTTP-based remote plugins with OAuth credentials), and Apple Push Notification (APNS-based plugins). Associated secrets (OAuth client credentials or APNS tokens) are stored alongside the plugin registration.


        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstablishPluginRequest'
      responses:
        '200':
          description: Plugin established successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstablishPluginResponse'
        '400':
          description: Invalid request payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Invalid request payload
                type: BAD_REQUEST
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal server error
                type: INTERNAL
      x-portos-delegated: false
      x-portos-resource-permission: true
  /auth-links:
    get:
      operationId: enumerateAuthLinks
      tags:
        - Auth Links
      description: |-
        Lists all auth links

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      responses:
        '200':
          description: Auth links retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnumerateAuthLinksResponse'
              example:
                results: []
                paginationContext:
                  nextToken: abc123
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal server error
                type: INTERNAL_SERVER_ERROR
                family: INTERNAL_SERVER_ERROR
                code: internal-server-error
      parameters:
        - name: expand
          in: query
          description: Expansion tokens that request related or computed fields for each result.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          examples:
            include-related:
              value:
                - metadata
        - name: nextToken
          in: query
          description: Opaque cursor token returned by a previous query response.
          required: false
          schema:
            type: string
          examples:
            next-page:
              value: abc123
        - name: maxResults
          in: query
          description: Maximum number of results to return.
          required: false
          schema:
            type: integer
          examples:
            page-size:
              value: 50
      x-portos-delegated: false
      x-portos-resource-permission: true
      security:
        - oauth2: []
        - bearerAuth: []
    post:
      operationId: upsertAuthLink
      tags:
        - Auth Links
      description: |-
        Creates a new auth link

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertAuthLinkRequest'
      responses:
        '200':
          description: Auth link created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertAuthLinkResponse'
              example:
                id: port1/principals/user123/resources/abc-123
        '400':
          description: Invalid request payload
        '500':
          description: Internal server error
      x-portos-delegated: false
      x-portos-resource-permission: true
      security:
        - oauth2: []
        - bearerAuth: []
    delete:
      operationId: deleteAuthLink
      tags:
        - Auth Links
      description: |-
        Deletes an auth link

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAuthLinkRequest'
            example:
              id: port1/principals/user123/resources/abc-123
      responses:
        '200':
          description: Auth link deleted successfully
        '400':
          description: Invalid request payload
        '500':
          description: Internal server error
      x-portos-delegated: false
      x-portos-resource-permission: true
      security:
        - oauth2: []
        - bearerAuth: []
  /auth-links/establish:
    post:
      operationId: establishAuthLink
      tags:
        - Auth Links
      summary: Establish an auth link between a plugin and a principal
      description: |-
        Creates an auth link that binds a plugin to a principal with the appropriate credentials. Supports multiple credential types: OAuth tokens, username/password, API keys, and Apple Push Notification device tokens.


        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstablishAuthLinkRequest'
      responses:
        '200':
          description: Auth link established successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstablishAuthLinkResponse'
              example:
                id: port1/principals/user123/resources/abc-123
        '400':
          description: Invalid request payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Invalid request payload
                type: BAD_REQUEST
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Authentication required
                type: UNAUTHORIZED
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Insufficient permissions
                type: FORBIDDEN
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal server error
                type: INTERNAL
      x-portos-delegated: false
      x-portos-resource-permission: true
  /auth-links/refresh:
    post:
      operationId: refreshAuthLinkToken
      tags:
        - Auth Links
      summary: Refresh tokens for an auth link
      description: |-
        Refreshes the credentials associated with an auth link. For OAuth-based links this exchanges the refresh token for a new access token via the plugin's token endpoint. For API-key-based links the key is returned as-is. The auth link is updated with the refreshed credentials.


        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - authLinkId
              properties:
                authLinkId:
                  type: string
                  description: The ID of the auth link to refresh tokens for
      responses:
        '200':
          description: Token refreshed successfully
        '400':
          description: Invalid request payload
        '500':
          description: Internal server error
      x-portos-delegated: false
      x-portos-resource-permission: true
  /plugin-auth-multifactor-exchange:
    post:
      operationId: pluginAuthMultifactorExchange
      tags:
        - Plugins
      description: |-
        This API is used to generate a multifactor authentication code for a plugin.  For example, if the plugin requires a third party service to receive an SMS code, this API is used to request for that code. 

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PluginAuthMultifactorExchangeRequest'
      responses:
        '202':
          description: Auth link setup started successfully, the operation is ongoing in the background.
        '400':
          description: Invalid request payload
        '500':
          description: Internal server error
      x-portos-delegated: false
      x-portos-resource-permission: true
      security:
        - oauth2: []
        - bearerAuth: []
  /plugin-auth-code-exchange:
    post:
      operationId: pluginAuthCodeExchange
      tags:
        - Plugins
      description: |-
        This API is used to exchange a code for an access token for a plugin. This is done as often times, the plugin requires a backend service to exchange the code for an access token.

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PluginAuthCodeExchangeRequest'
      responses:
        '202':
          description: Plugin auth code exchange started successfully, the operation is ongoing in the background.
        '400':
          description: Invalid request payload
        '500':
          description: Internal server error
      x-portos-delegated: false
      x-portos-resource-permission: true
      security:
        - oauth2: []
        - bearerAuth: []
  /plugin-auth-code-link:
    post:
      operationId: pluginAuthCodeLink
      tags:
        - Plugins
      description: |-
        Start code-based linking. Private vendor codes and tokens are retained on the server. Complete through plugin-auth-code-exchange using pluginAuthenticationData.sessionId.

        Requires a signed user/session or the existing authenticated client flow. The anonymous DCR delegated device profile cannot invoke this operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PluginAuthCodeLinkRequest'
            example:
              pluginId: port1/systems/zero/plugins/b220efd5-d59e-44cb-8ecd-57a98d4df48b
              principalId: ~self
      responses:
        '200':
          description: Linking session started; this does not mean the account is connected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginAuthCodeLinkResponse'
              example:
                sessionId: example-session
                userCode: ABCD
                verificationUri: https://www.amazon.com/code
                expiresIn: 300
        '400':
          description: Invalid request or plugin does not support code-based linking.
        '401':
          description: Authentication required.
        '403':
          description: Plugin linking permission denied.
        '500':
          description: Linking service failed.
      x-portos-delegated: false
      x-portos-resource-permission: true
      security:
        - oauth2: []
        - bearerAuth: []
  /endpoint-groups:
    get:
      operationId: enumerateEndpointGroups
      tags:
        - Endpoint Groups
      summary: List endpoint groups
      description: Lists all available endpoint groups for the authenticated user
      security:
        - oauth2:
            - group:read
        - bearerAuth: []
      parameters:
        - name: owner
          in: query
          description: The owner of the endpoint groups to get. Use '~caller' to get endpoint groups for the authenticated user
          required: true
          schema:
            type: string
          examples:
            check-token:
              value: ~caller
            check-id:
              value: port1/user/alice/user/alice
        - name: nextToken
          in: query
          description: The next token to get the next page of results
          required: false
          schema:
            type: string
          examples:
            next-token:
              value: '123'
        - name: maxResults
          in: query
          description: The maximum number of results to return
          required: false
          schema:
            type: integer
          examples:
            max-results:
              value: 10
        - name: expand
          in: query
          description: Expansion tokens that request related or computed fields for each result. Use `interfaces.attributes` to populate each group's `attributes` array with the stored values of its group routes.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          examples:
            include-related:
              value:
                - metadata
            group-route-state:
              value:
                - interfaces.attributes
        - name: forceDeviceAttributeQuery
          in: query
          description: Asks each provider for fresh values of the group routes before the response is returned. Only applied when `expand` includes `interfaces.attributes`. Absent, invalid or `false` values return the stored values.
          required: false
          schema:
            type: boolean
          examples:
            forced-deep-query:
              value: true
      responses:
        '200':
          description: Endpoint groups retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnumerateEndpointGroupsResponse'
              example:
                results: []
                paginationContext:
                  nextToken: abc123
        '400':
          description: Bad request - missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Invalid request payload
                type: BAD_REQUEST
        '401':
          description: Unauthorized - invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Authentication required
                type: UNAUTHORIZED
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Insufficient permissions
                type: FORBIDDEN
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal server error
                type: INTERNAL
      x-portos-delegated: true
      x-portos-resource-permission: true
    post:
      operationId: createEndpointGroup
      tags:
        - Endpoint Groups
      summary: Create an endpoint group
      description: Creates a new endpoint group
      security:
        - oauth2:
            - group:manage
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEndpointGroupRequest'
            example:
              item:
                name:
                  type: PLAIN
                  value: My Resource
      responses:
        '200':
          description: Endpoint group created successfully
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEndpointGroupResponse'
              example:
                id: port1/principals/user123/resources/abc-123
        '400':
          description: Bad request - invalid request payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Invalid request payload
                type: BAD_REQUEST
        '401':
          description: Unauthorized - invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Authentication required
                type: UNAUTHORIZED
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Insufficient permissions
                type: FORBIDDEN
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Internal server error
                type: INTERNAL
      x-portos-delegated: true
[...]
